.hero-section {
  position: relative;
  background-color: #aed9e0;
  background-image: url(../images/Proj.03\ Hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-text-container {
  position: absolute;
  bottom: 35rem;
  right: 10rem;
  color: #5e6472;
}
.hero-title {
  font-size: 52px;
}
