.bodymid-section {
  position: relative;
  background-color: #5e6472;
  background-image: url(../images/2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bodymid-text-container {
  position: absolute;
  bottom: 32rem;
  left: 8rem;
  color: #ffa69e;
}
.bodymid-title {
  font-size: 48px;
}
