.catcard-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #aed9e0;
    background-image: url(../images/Proj.03\ CatCardsVariation4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
  }
  .catcard-text-container {
    position: absolute;
    bottom: 10rem;
    right: 54rem;
    color: #000000;
  }
  .catcard-title {
    font-size: 84px;
  }
  