.newuser-section {
    position: relative;
    background-color: #5e6472;
    background-image: url(../images/Proj.03\ User\ InUp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .newuser-text-container {
    position: absolute;
    bottom: 32rem;
    left: 8rem;
    color: #ffa69e;
  }
  .newuser-title {
    font-size: 48px;
  }
  