.returninguser-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #aed9e0;
  background-image: url(../images/Proj.03\ User\ SignIn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
  .returninguser-text-container {
    position: absolute;
    bottom: 32rem;
    left: 8rem;
    color: #ffa69e;
  }
  .returninguser-title {
    font-size: 48px;
  }
  